.principal
{
    min-height: 100%;
    margin-bottom: 0px; /* equal to footer height */
    background-color: var(--paleta_branco);
    color: var(--paleta_cinza_escuro);
}
.princpl-header
{
    background-color: var(--paleta_cinza_medio);
    border-bottom: 1px solid var(--paleta_cinza_md-escuro);
    border-top: 1px solid var(--paleta_cinza_md-escuro);
}
.p-hedr-busca
{
    margin-right: var(--espacamento_unico);
}

@media only screen and (max-width: 767px) {
    .p-hedr-busca {
        margin: 0px;
    }
}
.p-hedr-opceos
{
    /*background-color: rosybrown;*/
}
.princpl-conteudo
{
    /*background-color: cyan;*/
}
.p-contd-menuTopo
{
    padding: var(--espacamento_unico);
    padding-right: 0px;
    background-color: var(--paleta_cinza_claro);
}
.p-c-menTp-Endereco {
    /*background-color: #0069d9;*/

}
.p-c-menTp-Opcoes {
    /*background-color: #138496;*/
    text-align: right;
    /*min-width: calc((var(--espacamento_unico) * 4) + (var(--dimensoes_icones) * 2));*/
}
.p-contd-pastas
{
    /*background-color: #117a8b;*/
}
.p-contd-pasts-lista
{
    padding: calc(var(--espacamento_unico) * 1);
    padding-top: 0px;
    /*background-color: #117a8b;*/
}
.p-cntd-pasts-miniaturas
{
    margin-top: calc(var(--espacamento_unico) * 2);
    margin-bottom: calc(var(--espacamento_unico) * 2);
    margin-left: calc(var(--espacamento_unico) * 2);    
}
.p-c-p-cards
{
    position: relative;
    height: 224px;
    width: 163px;
    padding: calc(var(--espacamento_unico) / 2);
    margin-right: calc(var(--espacamento_unico) * 2);
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    /*background-color: #117a8b;*/
}
.p-c-p-cards:hover path
{
    fill: var(--paleta_azul_medio) !important;
}
.p-c-p-cards:hover
{
    /*color: var(--paleta_azul_medio);*/
    background-color: var(--paleta_cinza_claro);
}
.p-c-p-cards:focus path
{
    fill: var(--paleta_azul_medio) !important;
}
.p-c-p-cards:focus
{
    /*color: var(--paleta_azul_medio);*/
    background-color: var(--paleta_cinza_claro);
}
.p-c-p-crds-imagem
{
    /*background-color: #117a8b;*/   
}
.p-c-p-crds-texto
{
    width: 153px;
    height: 119px;
    display: flex;
    align-items: center;        
    font-size: 1.45rem; 
}
.p-c-p-c-txt-center
{
    width: 153px;
    max-height: 119px;
    overflow: hidden;
}


.footer
{
    height: 0px;
    overflow: hidden;
    /*background: yellow;*/
}



.busca_Principal
{
    position: relative;
    /*background-color: red;*/
    margin-top: 4px;
    margin-bottom: 4px;
}
.busca_P-input
{
    height: 37px;
    padding-left: var(--espacamento_unico);
    padding-right: calc((var(--espacamento_unico) * 3) + var(--dimensoes_icones));
    border: 1px solid #D6D9DE;
    font-size: 1.45rem; 
    color: var(--paleta_cinza_escuro);    
    background-color: var(--paleta_branco);
}
.busca_P-icone
{
    position: absolute;
    bottom: 7px;
    right: calc((var(--espacamento_unico)) + 1px);
}

.teste
{
    width: 153px;
    max-height: 119px;
    overflow: hidden;

    background-color: tan;
}